/vendor/ 
/node_modules/ 
.env 
.env.* 
/storage/*.key 
/storage/framework/cache/* 
/storage/framework/sessions/* 
/storage/framework/views/* 
/storage/logs/* 
/public/storage 
composer.lock 
package-lock.json 
.DS_Store 
Thumbs.db 
